body {
  font-family: monospace;
}

.weather {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

h1 {
  margin-top: 30px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.today {
  margin-bottom: 30px;
}

#today-weather {
  margin-bottom: 30px;
}
